body {
	background: none;
}
.bar {
	background: #909089;
}

.section-question {
	margin-top: 10%;
	padding: 2%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

.question {
	font-size: 10pt;
}

.boxofbuttons {
	margin-top: 3%;
}

.btn-success {
	font-size: 12pt;
	line-height: 35px;
	height: 60px;
	width: 120px;
}

.btn-danger {
	font-size: 12pt;
	line-height: 35px;
	height: 60px;
	width: 120px;
}

.panel-title > a {
	text-decoration: none;
	color: #909089;
}

.panel-title > a:hover, a:focus {
	color: #484844;
}

.panel-group {
	max-width: 500px;
	padding: 3%;
	text-align: center;
	margin-top: -2%;
	margin-left: auto;
	margin-right: auto;
	
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	-webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}